<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${jdbc.hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.query.factory_class">org.hibernate.hql.internal.ast.ASTQueryTranslatorFactory</prop>
				<prop key="hibernate.cache.use_second_level_cache">true</prop>
				<prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory</prop>
				<prop key="hibernate.cache.use_query_cache">true</prop>
				<prop key="hibernate.hbm2ddl.auto">${jdbc.hibernate.hbm2ddl.auto}</prop>
				<prop key="hibernate.jdbc.batch_size">${jdbc.hibernate.jdbc.batch_size}</prop>
			</props>
		</property>
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="packagesToScan">
			<list>
				<value>com.eye.op.bean</value>
				<value>com.eye.op.common.bean</value>
			</list>
		</property>
	</bean>
	
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close" >
	<property name="properties" ref="decodeBasicDataSource"/>
		<property name="jdbcUrl" value="${jdbc.url}"/>
		<property name="driverClass" value="${jdbc.driverClassName}" />
		<property name="minPoolSize" value="${minPoolSize}"></property>
        <property name="maxPoolSize" value="${maxPoolSize}"></property>    
        <property name="initialPoolSize" value="${initialPoolSize}"></property>    
        <property name="maxIdleTime" value="${maxIdleTime}"></property>    
        <property name="acquireIncrement" value="${acquireIncrement}"></property>  
        <property name="maxStatements" value="${maxStatements}"></property>    
        <property name="idleConnectionTestPeriod" value="${idleConnectionTestPeriod}"></property>    
        <property name="acquireRetryAttempts" value="${acquireRetryAttempts}"></property>    
	</bean>
	<bean id="decodeBasicDataSource" class="com.eye.op.common.security.DecodeBasicDataSource">
		<property name="properties">
			<props>
				<prop key="user">${jdbc.user}</prop>
				<prop key="password">${jdbc.password}</prop>
				
			</props>
		</property>
	</bean>
	  
</beans>